# Core
pandas
requests
python-dotenv

# Orchestration
prefect

# Big Data Processing
pyspark
spark-sql
spark-streaming

# Optional Spark dependencies
kafka-python  # For streaming
pyspark-sql

# Data Warehouse
google-cloud-bigquery
google-cloud-storage

# Transformations
dbt-core
dbt-bigquery

# Visualization
streamlit

# Optional (NLP for review sentiment)
textblob
scikit-learn

# Testing
pytest
