# Core
pandas
requests
python-dotenv

# Orchestration
prefect

# Big Data
pyspark

# Data Warehouse
google-cloud-bigquery
google-cloud-storage

# Transformations
dbt-core
dbt-bigquery

# Visualization
streamlit

# Optional (NLP for review sentiment)
textblob
scikit-learn

# Testing
pytest
